In [1]:
import pandas as pd

In [3]:
#verificamos nuestro datos de fechas de nuestro datframe
#cargamos nuestro archivo en pandas
df = pd.read_csv('..\\backend\\data\\movies_final.csv')
df.head(2)

,Unnamed: 0,movies_id,budget,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,title,vote_average,vote_count,collection_id,collection_name,genres,iso_639_1,name,release_year,return
0,2,15602,0,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0,...,Grumpier Old Men,6.5,92,119050.0,Grumpy Old Men Collection,"['Comedy', 'Romance']",['en'],['English'],1995,0
1,4,11862,0,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911,...,Father of the Bride Part II,5.7,173,96871.0,Father of the Bride Collection,['Comedy'],['en'],['English'],1995,inf

In [6]:
#Eliminar las filas que contienen datos no válidos en la columna 'release_date'
df.dropna(subset=['release_date'], inplace=True)

In [7]:
#Especificar un formato personalizado al convertir la columna 'release_date' a un formato de fecha
pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45563   1991-05-13
45564   2011-11-17
45565   2003-08-01
45566   1917-10-21
45567   2017-06-09
Name: release_date, Length: 45568, dtype: datetime64[ns]

In [9]:
# Filtrar las filas que contienen datos no válidos en la columna 'release_date'
df = df[df['release_date'].apply(lambda x: isinstance(x, str) and len(x) == 10)]

In [10]:
# Convertir la columna 'release_date' al formato de fecha
df['release_date'] = pd.to_datetime(df['release_date'])

In [11]:
# Extraer el mes de la columna 'release_date'
df['mes_estreno'] = df['release_date'].dt.month

In [8]:
#guardamaos
df.to_csv('..\datasets_crudos_CSV\datasetunido_part1.csv')